@using Microsoft.AspNetCore.Http
@model List<Image>

@{
    var name = ViewBag.newProductID;

}

<h1>Modify Image(s) </h1>

<div>
    @ViewBag.newProductID
</div>

<form asp-action="Edit" asp-controller="Image" method="post" enctype="multipart/form-data">
    <span>Select File:</span>
    <input type="file" name="postedFiles" multiple />
    <input type="submit" value="Upload" />
</form>

<hr />
<table cellpadding="8" cellspacing="2" border="1">
    <tr>
        <th>Name</th>
        <th></th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    @foreach (Image file in Model)
    {
        <tr>
            <td>@file.prodImageName</td>
            <td></td>
            <td>
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(file.prodData)"
                     width="100" height="100" />
            </td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = file.ID } ) </td>
        </tr>
    }
</table>